#wrap{
    background-color: rgba(0, 0, 0, 0);
}

#title{
    padding-top: 25%;
    font-size: 300%;
}

.btn{
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover{
    background-color: white!important;
    color: black!important;
}

@media screen and (min-width: 993px){
    #title{
        width: 90%;
    }
}